大三下复习/计算机网络/计算机网络个人梳理.pdf filter=lfs diff=lfs merge=lfs -text
操作系统/参考书/王道考研（408）/2025王道操作系统考研复习指导.pdf filter=lfs diff=lfs merge=lfs -text
数字逻辑/数字逻辑大作业/数字逻辑视频演示及ip核文件[[:space:]](1).zip filter=lfs diff=lfs merge=lfs -text
编译原理/编译原理2026-06-11第3-4节.mp4 filter=lfs diff=lfs merge=lfs -text
计算机组成原理/54条指令多周期CPU设计实验/54条指令多周期CPU后仿真视频.mp4 filter=lfs diff=lfs merge=lfs -text
计算机组成原理/计组/2026计算机组成原理.pdf filter=lfs diff=lfs merge=lfs -text
高程（下）/第七周/24251-140001-W0701.第14模块[[:space:]]C和C++知识点补充（PART1）/24251-140001-W0701.附件[[:space:]]第14模块[[:space:]]C和C++知识点补充.mp4 filter=lfs diff=lfs merge=lfs -text
高程（下）/第九周/2024-11-01-面向对象第09周课程.mp4 filter=lfs diff=lfs merge=lfs -text
高程（下）/第九周/24251-140002-W0901.第14模块[[:space:]]C和C++知识点补充（PART2）/24251-140002-W0901.附件[[:space:]]第14模块[[:space:]]C和C++知识点补充（Part2）.mp4 filter=lfs diff=lfs merge=lfs -text
大三下复习/计算机网络/2026计算机网络.pdf filter=lfs diff=lfs merge=lfs -text
计算机系统实验/资料/自己动手写CPU/自己动手写CPUï¼雷思磊ï¼.pdf filter=lfs diff=lfs merge=lfs -text
计算机系统结构/计算机系统结构教程.pdf filter=lfs diff=lfs merge=lfs -text
计算机组成原理/54条指令多周期CPU设计实验/54条指令多周期CPU下板视频.mp4 filter=lfs diff=lfs merge=lfs -text
数字逻辑/数字逻辑大作业/0.mp4 filter=lfs diff=lfs merge=lfs -text
数字逻辑/数字逻辑大作业/数字逻辑视频演示及ip核文件.zip filter=lfs diff=lfs merge=lfs -text
数学建模/2023年赛题/C题/附件2.xlsx filter=lfs diff=lfs merge=lfs -text
数据库（上）/前沿探索/openGauss-server-master.zip filter=lfs diff=lfs merge=lfs -text
大三下复习/计算机网络/computerNetworks.pdf filter=lfs diff=lfs merge=lfs -text
大三下复习/计算机网络/去水印-计算机网络_含目录.pdf filter=lfs diff=lfs merge=lfs -text
计算机科学导论/计科导网页设计Web/preVideo.mp4 filter=lfs diff=lfs merge=lfs -text
计算机系统实验/资料/资料/自己动手写CPU/自己动手写CPUï¼雷思磊ï¼.pdf filter=lfs diff=lfs merge=lfs -text
计算机网络/experiment/渗透实验教案/网络实验电子教案/CCNA学习指南中文第七版.pdf filter=lfs diff=lfs merge=lfs -text
数据结构与算法（上）/HW5-查找/problem5-最大频率栈/最大频率栈/.vs/最大频率栈/v17/ipch/AutoPCH/d5b387f3ed9050ef/TEMPLATE.ipch filter=lfs diff=lfs merge=lfs -text
计算机组成原理/计算机组成与结构（第五版）[[:space:]](王爱英)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
计算机组成原理/计组/计算机组成与结构（第五版）[[:space:]](王爱英)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
高程（下）/大作业3/OoP_BIG_hw-main/.vs/BigHW/v17/ipch/AutoPCH/1c669d99e0e8420c/CLASS_AAT.ipch filter=lfs diff=lfs merge=lfs -text
正大杯&&统计建模/正大杯答辩/最终版/B_13_在华留学生组_答辩PPT_“驿”动全城，“健”造精彩——上海市民健.pptx filter=lfs diff=lfs merge=lfs -text
正大杯&&统计建模/正大杯答辩/”驿“动全城，”健“造精彩——上海健身驿站服务效能调研与优化路径分析[[:space:]]PPT[[:space:]]压缩版.pptx filter=lfs diff=lfs merge=lfs -text
正大杯&&统计建模/Factors-influencing-college-students-satisfaction-with-part-time-jobs-PCA-analysis-main.zip filter=lfs diff=lfs merge=lfs -text
计算机系统实验/实验一/借鉴/Tongji-CS-Assignments-AEE7979CE7BBBBE7939EE8BEA8E8BEAE%A1/EXP1/CPU89.zip filter=lfs diff=lfs merge=lfs -text
软件工程/gitlab-runner.exe filter=lfs diff=lfs merge=lfs -text
计算机系统结构/计算机系统结构教程（第2版）[[:space:]](张晨曦、王志英、沈立、[[:space:]]李江峰、[[:space:]]刘依、[[:space:]]王伟)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
高程（上）/课前/23242-000003~000008-W0002.开学大礼包/Dev-Cpp[[:space:]]5.11[[:space:]]TDM-GCC[[:space:]]9.2.0[[:space:]]Setup（特别定制版）.exe filter=lfs diff=lfs merge=lfs -text
数学建模/最后一次会议培训ppt/AAA.pdf filter=lfs diff=lfs merge=lfs -text
大三下复习/计算机网络/5网络层.pdf filter=lfs diff=lfs merge=lfs -text
正大杯&&统计建模/正大杯答辩/”驿“动全城，”健“造精彩——上海健身驿站服务效能调研与优化路径分析[[:space:]]PPT.pptx filter=lfs diff=lfs merge=lfs -text
计算机网络/experiment/计算机专业网络实验/计算机专业网络实验/第一次/CiscoPacketTracer-7.3.0（破解版）/PacketTracer7.exe filter=lfs diff=lfs merge=lfs -text
数学建模/1.历年国赛赛题（1992-2023）/2019年赛题/E-2019中文/data/附件1.csv filter=lfs diff=lfs merge=lfs -text
数学建模/1.历年国赛赛题（1992-2023）/2019年赛题/E-2019中文/data/附件2.csv filter=lfs diff=lfs merge=lfs -text
形式语言与自动机/形式语言与自动机复习笔记.pdf filter=lfs diff=lfs merge=lfs -text
计算机网络/课程报告3/Wireshark-4.6.2-x64.exe filter=lfs diff=lfs merge=lfs -text
高程（下）/第十一周/week11/.vs/week11/v17/ipch/AutoPCH/6aed44f300da717e/15-B8-BMP-MAIN.ipch filter=lfs diff=lfs merge=lfs -text
正大杯&&统计建模/PPT.pptx filter=lfs diff=lfs merge=lfs -text
vivado_projects/PCPU/PCPU.sim/sim_1/behav/wlftr2zcc4 filter=lfs diff=lfs merge=lfs -text
数字逻辑/数字逻辑大作业/数字逻辑视频演示及ip核文件/数字逻辑视频演示.mp4 filter=lfs diff=lfs merge=lfs -text
数字逻辑/数字逻辑大作业/202501042107.mp4 filter=lfs diff=lfs merge=lfs -text
大三下复习/crazyReview-main/系统结构.pdf filter=lfs diff=lfs merge=lfs -text
计算机组成原理/计算机组成与结构（第五版）[[:space:]](王爱英)[[:space:]](Z-Library)-已解锁.pdf filter=lfs diff=lfs merge=lfs -text
计算机组成原理/计组/26王道《计算机组成原理》选择题做题本【无间隔】2.06.pdf filter=lfs diff=lfs merge=lfs -text
数学建模/1.历年国赛赛题（1992-2023）/2018年赛题/2018-C-Chinese/附件3-会员消费明细表.xlsx filter=lfs diff=lfs merge=lfs -text
编译原理课程设计/2351520-毛星博-编译原理课程设计.zip filter=lfs diff=lfs merge=lfs -text
编译原理课程设计/类Rust一遍式编译器课程设计汇报.pptx filter=lfs diff=lfs merge=lfs -text
vivado_projects/CPU54/CPU54.sim/sim_1/synth/timing/msim/xil_defaultlib/_lib1_0.qpg filter=lfs diff=lfs merge=lfs -text
大三下复习/系统结构/系统结构.pdf filter=lfs diff=lfs merge=lfs -text
软件工程/2024-Tongji-Software-Engineering-master/人月神话(40周年中文纪念版)[[:space:]](〔美〕弗雷德里克·布鲁克斯著；汪颖译)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
人工智能原理与技术/人工智能引论.pdf filter=lfs diff=lfs merge=lfs -text
计算机组成原理/31指令单周期CPU设计实验/Mars4_5[[:space:]]导出十六进制文件及结果比对说明/Mars4_5.jar filter=lfs diff=lfs merge=lfs -text
数据库（下）/ExCourt/2351520-毛星博.zip filter=lfs diff=lfs merge=lfs -text
计算机系统实验/资料/计算机原理与设计：Verilog+HDL版-李亚民.pdf filter=lfs diff=lfs merge=lfs -text
高程（上）/VS2022调试工具的使用/23242-980101-W0601.实验报告[[:space:]]-[[:space:]]第01篇[[:space:]]-[[:space:]]VS2022调试工具的使用（学会程序调试的长期作业，第17周截止）/23242-980101-W0601.实验报告[[:space:]]-[[:space:]]附件[[:space:]]-[[:space:]]程序调试的两种方法.mp4 filter=lfs diff=lfs merge=lfs -text
计算机系统实验/资料/资料/计算机原理与设计：Verilog+HDL版-李亚民.pdf filter=lfs diff=lfs merge=lfs -text
